* {
  margin: 0;
  padding: 0;
  border: 1px solid;
}

:root {
  --light-grey: rgb(240 240 240);
  --sm-icon: 1rem;
  --md-icon: 1.5rem;
  --lg-icon: 2rem;
  --xl-icon: 2.5rem;
  --xxl-icon: 3.5rem;
  --xxxl-icon: 5rem;
}

img {
  display: block;
  width: var(--sm-icon);
}

body {
  display: flex;
  flex-direction: column;
}

/* top-controls-container */

#top-controls-container {
  padding: 10px;
  display: flex;
  gap: 10px;
}

#search-form {
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  flex-grow: 1;
  border-radius: 30px;
  background-color: var(--light-grey);
}

input {
  border: none;
  flex-grow: 1;
  background-color: var(--light-grey);
}

input:focus {
  outline: none;
}

#settings-container {
  border-radius: 50%;
  padding: 10px;
  background-color: var(--light-grey);
}

/* current-data-container */

#current-data-container {
  display: flex;
  flex-direction: column;
}

#current-data-container > .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#current-data-container > .top > .main {
  display: flex;
  flex-direction: column;
}

#current-data-container > .top > .secondary {
  display: flex;
}

#current-data-container > .bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* hourly-container */

#hourly-container {
  display: flex;
  flex-direction: column;
}

#hourly-container > #hourly-data-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* week-container */

#week-container {
  display: flex;
  flex-direction: column;
}

#week-container > #week-data-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}